@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

input[type="range"] {
  -webkit-appearance: none;
}
.range {
  width: 180px;
  padding: 14px 16px;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}

.volume {
  width: 80px;
  padding: 14px 16px;
  background: transparent;
  cursor: pointer;
  overflow: hidden;
}

.volume::-webkit-slider-runnable-track {
  height: 4px;
  background: #101010;
  border: none;
  border-radius: 4px;
}

.range::-webkit-slider-runnable-track {
  height: 4px;
  background: #d3d3d3;
  border: none;
  border-radius: 4px;
}
.range::-webkit-slider-thumb,
.volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  opacity: 0;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background: #101010;
  margin-top: -4px;
  transition: all 200ms ease-in;
}

.range:hover.range::-webkit-slider-thumb,
.volume:hover.volume::-webkit-slider-thumb {
  opacity: 1;
  transition: all 200ms ease-in;
}

/* input[type="range"]::-webkit-slider-runnable-track {
  /* width: 300px; */
/* height: 4px;
  background: #ddd;
  border: none;
  border-radius: 4px;
} */
*/

/* input[type="range"]::-webkit-slider-runnable-track:hover
  ~ ::-webkit-slider-thumb {
  background: red;
} */

/* input[type="range"]::-webkit-slider-thumb:hover {
  opacity: 1;
} */

input[type="range"]:focus {
  outline: none;
}

/* input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ccc;
} */

/* input[type="range"] { */
/* fix for FF unable to apply focus style bug  */
/* border: 1px solid white; */

/*required for proper track sizing in FF*/
/* width: 300px; */
/* } */

/* input[type="range"]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #ddd;
  border: none;
  border-radius: 3px;
}

input[type="range"]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}

/*hide the outline behind the border*/
/* input[type="range"]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}

input[type="range"]:focus::-moz-range-track {
  background: #ccc;
}

input[type="range"]::-ms-track {
  width: 300px;
  height: 5px;

  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
/* background: transparent; */

/*leave room for the larger thumb to overflow with a transparent border */
/* border-color: transparent;
  border-width: 6px 0; */

/*remove default tick marks*/
/* color: transparent; */
/* }
input[type="range"]::-ms-fill-lower {
  background: #777;
  border-radius: 10px;
}
input[type="range"]::-ms-fill-upper {
  background: #ddd;
  border-radius: 10px;
}
input[type="range"]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: goldenrod;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #888;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ccc;
} */
